@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root{
    --color:#FF7C00;
    --t-color:#575757;
    --d-c:#5CD83E  ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    overflow-x: hidden;
    background: url("img/img1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
ul, li{
    list-style: none;

}
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15), 0 4px 5px rgba(0,0,0,.3);
    height: 69px;
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
}
header .logo{
    padding: 15px 25px;
}
header .logo h1{
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color:#FF7C00;
}
header .nav {
    position: relative;
    border-left: 1px solid #e9e9e9;
    
}
header .nav ul{
    display: flex;
    justify-content: space-between;
}
header .nav ul li{
    padding: 26px 20px 24px 20px;
    transition: all .4s ease;
    cursor: pointer;
}
header .nav ul li h3{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}
header .nav ul li.active,
header .nav ul li:hover {
    background: var(--d-c);
    box-shadow: 0 -4px 0px var(--color) inset;
    color: #fff;
}
.bars{
    display: none;
    margin-right: 20px;
    color: #797979;
    cursor: pointer;
    font-size: 1.6em;
}
.nav-mobile{
    display: none;
}
aside{
    position: relative;
    top: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15), 0 4px 5px rgba(0,0,0,.3);
    width: 270px;
    height: 100%;
    z-index: 10;
    float: left;
    background: #fff;
    font-family: "Roboto", sans-serif;
    overflow: auto;
}
aside h1{
    padding: 20px;
    text-transform: uppercase;
    color: var(--t-color);
}
.close{
    float: right;
    font-size: .9em;
    display: none;
    cursor: pointer;
}
aside .user-side{
    padding: 20px;
    border-top: 1px solid #e9e9e9;
}
aside .user-pic{
    float: left;
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}
aside .user-pic img{
    width: 100%;
    height: 100%;

}
aside .user-info{
    display: flex;
    flex-direction: column;
    color: var(--t-color);
}
aside .name{
    margin-bottom: 4px;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 900;
}
aside .mail,
aside .status{
    font-size: 14px;
    font-family: "open sans", sans-serif;
}
aside .status{
    margin-top: 3px;
    position: relative;
    margin-left: 10px;

}
aside .status::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: lightgreen;
    border-radius: 50%;
    left: -10px;
    top: 5.5px;
}
aside .search{
    border-top: 1px solid #e9e9e9;
    padding: 20px;
}
aside .search .row{
    position: relative;
    display: flex;
    width: 100%;

}
aside .search input{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #dfdfdf;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-family: "open sans", sans-serif;
    font-weight: 600;


}
aside .search button{
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--d-c);
    background: var(--d-c);
    color:#fff;
    outline: none;
    cursor: pointer;
    border-left: 0;
}
.side-nav{
    border-top: 1px solid #e9e9e9;
    padding: 20px 0;
    padding-bottom: 10px;
    margin-bottom: 40px;

}
.side-nav h2{
    font-size: 1.2em;
    padding: 10px 0px 5px 20px;
    color: var(--t-color);
    margin-bottom: 10px;
}
.side-nav ul li{
    display: flex;
    width: 100%;
    position: relative;
    padding: 8px 0px 8px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .4s ease;


}
.side-nav ul li.active,
.side-nav ul li:hover{
    background: #eee;
}
.side-nav ul li span{
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background: var(--color);
    color: #fff;
}
.side-nav ul li h3{
    line-height: 30px;
    font-size: 1.2em;
    color: var(--t-color);
    font-weight: 100;

}
.bt-nav{
    background: var(--t-color);
    position: absolute;
    bottom: 0;
    width: 100%;

}
.bt-nav ul{
    display: flex;
    justify-content: space-around;
}
.bt-nav ul li{
    line-height: 30px;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.alert::after,
.message::after{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 2px;
    background: red;

}
.alert::after{
    background: lightgreen;
}
.m-bar{
    display: none;
}
.main{
    position: relative;
    margin-left: 300px;
}
.main section{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: "roboto", sans-serif;
    display: none;
}
.main section h1 {
    margin: 0 auto 20px;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    color: var(--t-color);

}
.main section .text{
    font-weight: 500;
    padding: 30px 50px;
    font-size: 25px;
    height: 300px;
    display: flex;
    align-items: center;
}
.userpost{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    background-size: 100%;
}
.userpost .posts{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
}
.userpost .posts:first-child{
    background: var(--d-c);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userpost .posts:first-child span{
    text-align: center;
    width: 70px;
    height: 70px;
    background: var(--color);
    border-radius: 50%;
    line-height: 70px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
.userpost .posts img{
    width: 100%;
    height: 90%;
}
.userpost .posts p{
    margin-left: 10px;
    line-height: 30px;

}
/* image add */

.container2{
    height: 350px;
    width: 430px;
    position: relative;
    
  }
  .container2 .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper .icon{
    font-size: 100px;
    color:#5CD83E ;
    height: 100%;
    place-items: center;
    text-align: center;
    margin-top: 40%;
  }
  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
    margin-top: -40%;
    
  }
  .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #FF7C00;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
    transition: .3s ease-in-out;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#5CD83E  0%,#FF7C00  100%);
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container2 #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#5CD83E  0%,#FF7C00 100%);
  }
  /* seacrch bar turmas e fila */
  
.wrapper2 .header2 {
    background: #5CD83E ;
    border-radius: 20px;
  }
  
  .wrapper2 .title {
    padding: 50px 0;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
  }
  
  .wrapper2 .search_box {
    max-width: 1000px;
    background: #5CD83E ;
    margin: 0 auto;
    padding: 25px 0 50px;
    border-radius: 20px;
  }
  
  .wrapper2 .search_box input {
    border: 0;
    border-bottom: 2px solid #e5edfa;
    width: 100%;
    outline: none;
    padding: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
  }
  
  ::placeholder {
    color: #e5edfa;
  }
  
  .wrapper2 .search_box input:focus {
    border-bottom: 2px solid #fff;
  }
  
  .table_wrap {
    width: 1000px;
    margin: 50px auto 0;
  }
  
  .table_wrap ul li .item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 0;
    height: 50px;
  }
  
  .table_wrap ul li .item .name,
  .table_wrap ul li .item .phone {
    width: 20%;
    padding: 0 15px;
  }
  
  .table_wrap ul li .item .status {
    width: 15%;
    padding: 0 15px;
  }
  
  .table_wrap ul li .item .issue {
    width: 45%;
    padding: 0 15px;
  }
  
  .table_wrap ul li .item .issue span,
  .table_wrap ul li .item .name span {
    width: 90%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table_header ul li .item {
    border-bottom: 2px solid #eaeaea;
    font-weight: 600;
  }
  
  .table_body {
    height: 300px;
    overflow: auto;
  }
  
  .table_body ul li .item {
    border-bottom: 1px solid #efefef;
  }
  
  .table_body ul li .item .status span {
    padding: 5px 20px;
    border-radius: 25px;
    max-width: 115px;
    display: inline-block;
  }
  
  .table_body ul li .item .open {
    background: #e5edfa;
    color: #5a8ee4;
  }
  
  .table_body ul li .item .fixed {
    background: #cff1f0;
    color: #0dbeb6;
  }
  
  .table_body ul li .item .closed {
    background: #fedfe5;
    color: #ff89a0;
  }
  
  .table_body ul li .item .hold {
    background: #fff0db;
    color: #f59d39;
  }
  
  .table_body ul li .item .reopened {
    background: #d6f2ff;
    color: #29a5d8;
  }
  
  .table_body ul li .item .canceled {
    background: #ffdbd6;
    color: #e87060;
  }

  /* editar perfil */
  .wrapper3{
    position: absolute;
    left: 120%;
    top: 5%;
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .wrapper3 .input-data{
    height: 40px;
    width: 100%;
    position: relative;
  }
  .wrapper3 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #FF7C00;
  }
  .wrapper3 .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #FF7C00;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }
  .form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #5CD83E ;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
  }
  .form__button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  /* parte das turmas botoes de editar e cadastro */
  .form__button2{
    position: relative;
    display: block;
    margin-left: auto;
    padding: .3rem 1rem;
    outline: none;
    border: none;
    background-color: #5CD83E ;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    top: 100%;
    left: 25%;
  }
  .form__button2:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  .form__button3{
    position: relative;
    display: block;
    margin-left: 80%;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #FF7C00/* #e92c2c */ ;
    color: #fff;
    font-size: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: .3s;
    
  }
  .form__button3:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  /* Inputs do perfil da escola  */
  .wrapper8{
    position: absolute;
    left: 120%;
    top: -1%;
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .wrapper8 .input-data{
    height: 40px;
    width: 100%;
    position: relative;
  }
  .wrapper8 .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #FF7C00;
  }
  .wrapper8 .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #FF7C00;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }
  .form__button{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #5CD83E ;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
  }
  .form__button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  /* parte das turmas botoes de editar e cadastro */
  .form__button2{
    position: relative;
    display: block;
    margin-left: auto;
    padding: .3rem 1rem;
    outline: none;
    border: none;
    background-color: #5CD83E ;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    top: 100%;
    left: 25%;
  }
  .form__button2:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }
  .form__button3{
    position: relative;
    display: block;
    margin-left: 80%;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: #FF7C00/* #e92c2c */ ;
    color: #fff;
    font-size: 1rem;
    border-radius: .6rem;
    cursor: pointer;
    transition: .3s;
    
  }
  .form__button3:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
  }

  /* BARRA DE PESQUISA FUNCIONARIOS */
  ::selection{
    color: #fff;
    background: #FF7C00;;
  }
  
  .wrapper4{
    max-width: 450px;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper4 .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
    cursor: pointer;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #FF7C00;;
    cursor: pointer;
  }

  /* modal sem js */
  /* a:link,
  a:visited{
   text-decoration: none;
  }

  .modal{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  .modal__content{
   width: 75%;
   height: 65%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
  }

  #modal:target{
   opacity: 1;
   visibility: visible;
  }

  #modal:target .modal__content{
   opacity: 1;
   visibility: visible;
  }

  .modal__close{
   color: #363636;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
  }

  .modal__heading{
   color: dodgerblue;
   margin-bottom: 1em;
  }

  .modal__paragraph{
   line-height: 1.5em;
  }

.modal-open{
 display: inline-block;
 color: dodgerblue;
 margin: 2em;
} */

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 85vw;
  height: 90vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.74s ease-in-out;
}
.popup-inner{
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items:center;
  max-width: 800px;
  max-height: 599px;
  width: 59%;
  height: 80%;
  background-color: white;
  transform: rotate(32deg);
  transition: 0.74s ease-in-out;
}
.popup-photo{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup-photo img{
  width: auto;
  height: 100%;

}
.popup-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
  height: 100%;
  padding: 4rem;
}
.popup-text h1{
  font-size: 2rem;
  font-weight: 599;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0a0a0a;

}
.popup-text p{
  font-size: 1.5rem;
  color: black;
  line-height: 1.5;

}
.popup:target{
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner{
  bottom: 0;
  right: 0;
  transform: rotate(0);

}
.popup-close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-size: 400;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  color: white;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* modal cadastro turmas */

.popup2{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 85vw;
  height: 90vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.74s ease-in-out;
}
.popup-inner2{
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items:center;
  max-width: 800px;
  max-height: 599px;
  width: 59%;
  height: 80%;
  background-color: white;
  transform: rotate(32deg);
  transition: 0.74s ease-in-out;
}
.popup-photo2{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup-photo3{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: -40px;
  right: -100px;
}
.popup-photo2 img{
  width: auto;
  height: 100%;

}
.popup-text2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
  height: 100%;
  padding: 4rem;
  position: relative;
  top: -30%;
}

.popup2:target{
  visibility: visible;
  opacity: 1;
}
.popup2:target .popup-inner2{
  bottom: 0;
  right: 0;
  transform: rotate(0);

}
.popup-close2{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-size: 400;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  color: white;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* dentro do modal das turmas combo box etc */

.container6 {
  margin-top: -15px;
  padding: 32px;
  position: relative;
  right: -10%;
}
.container6 h2{
  margin: 16px;
}

.select-box {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.select-box .options-container {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 85px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #414b57;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
/* outro combo box modal */

.container7 {
  margin-top: 10%;
  padding: 32px;
  position: relative;
  right: -10%;
}
.container7 h2{
  margin: 16px;
}

.select-box2 {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.select-box2 .options-container2 {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected2 {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected2::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box2 .options-container2.active {
  max-height: 85px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box2 .options-container2.active + .selected2::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box2 .options-container2::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box2 .options-container2::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box2 .option2,
.selected2 {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box2 .option2:hover {
  background: #414b57;
}

.select-box2 label {
  cursor: pointer;
}

.select-box2 .option2 .radio2 {
  display: none;
}

/* input do modal */
.wrapper5{
  position: absolute;
  left: 18px;
  top: 50%;
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.wrapper5 .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper5 .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #FF7C00;
}
.wrapper5 .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #FF7C00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
.form__button{
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: #5CD83E ;
  color: #fff;
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
}
.form__button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
/* outro input */
.wrapper6{
  position: absolute;
  left: 10%;
  top: 56%;
  width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.wrapper6 .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper6 .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #FF7C00;
}
.wrapper6 .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #FF7C00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}


.form__button6{
  position: absolute;
  display: block;
  margin-top: 55%;
  margin-left: 75%;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: #5CD83E/* #e92c2c */ ;
  color: #fff;
  font-size: 1rem;
  border-radius: .6rem;
  cursor: pointer;
  transition: .3s;
  /* top: 50%;
  left: 25%; */
  
}
.form__button6:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.form__button5{
  position: relative;
    display: block;
    margin-left: auto;
    padding: .3rem 1rem;
    outline: none;
    border: none;
    background-color: #ff2c25 ;
    color: #fff;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    top: 100%;
    left: 25%;
  
}
.form__button5:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.form__button4{
  position: absolute;
  display: block;
  margin-top: 55%;
  margin-left: 75%;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: #b82722/* #e92c2c */ ;
  color: #fff;
  font-size: 1rem;
  border-radius: .6rem;
  cursor: pointer;
  transition: .3s;
  /* top: 50%;
  left: 25%; */
  
}
.form__button4:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* perfil da escola add foto */

.container3{
  height: 350px;
  width: 430px;
  position: relative;
  
}
.container3 .wrapper7{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper7.active{
  border: none;
}
.wrapper7 .image2{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper7 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper7 .icon2{
  font-size: 100px;
  color:#5CD83E ;
  height: 100%;
  place-items: center;
  text-align: center;
  margin-top: 10%;
}
.wrapper7 .text2{
  font-size: 25px;
  font-weight: 500;
  color: #5B5B7B;
  margin-top: -10%;
  
}
.wrapper7 #cancel-btn2 i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #FF7C00;
  cursor: pointer;
  display: none;
}
.wrapper7.active:hover #cancel-btn2 i{
  display: block;
}
.wrapper7 #cancel-btn2 i:hover{
  color: #e74c3c;
  transition: .3s ease-in-out;
}
.wrapper7 .file-name2{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#5CD83E  0%,#FF7C00  100%);
}
.wrapper7.active:hover .file-name2{
  display: block;
}
.container3 #custom-btn2{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#5CD83E  0%,#FF7C00 100%);
}

/* modal cadastro turmas */

.popup3{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 85vw;
  height: 90vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .80);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.74s ease-in-out;
}
.popup-inner3{
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items:center;
  max-width: 800px;
  max-height: 599px;
  width: 59%;
  height: 80%;
  background-color: white;
  transform: rotate(32deg);
  transition: 0.74s ease-in-out;
}
.popup-photo3{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
  left:5%;
}
.popup-photo4{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  top: -40px;
  right: -100px;
}
.popup-text3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 59%;
  height: 100%;
  padding: 4rem;
  position: relative;
  top: -30%;
}

.popup3:target{
  visibility: visible;
  opacity: 1;
}
.popup3:target .popup-inner3{
  bottom: 0;
  right: 0;
  transform: rotate(0);

}
.popup-close3{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-size: 400;
  border-radius: 100%;
  background-color: #0a0a0a;
  z-index: 4;
  color: white;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
/* Checkbox */
.center{
  position: relative;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  text-align: left;
}
.center h2 {
  margin: 16px 0;
  border-left: 5px solid #FC8A3B;
  padding-left: 16px;
  font-size: 25px;
  
}
input[type="checkbox"]{
  position: relative;
  top: 10px;
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  outline: none;
  transition: .5s;

}
input[type="checkbox"]::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #262626;
  box-sizing: border-box;
  transition: .5s;

}
input:checked[type="checkbox"]::before{
  border-left: none;
  border-top: none;
  width: 13px;
  border-color: #0f0;
  transform: rotate(45deg) translate(5px, -10px);

}
.labelCheck{
  font-size: 18px;
  font-family: sans-serif;
}
/* Combo box escola */

.container8 {
  margin-top: 10%;
  padding: 10px;
  position: absolute;
  right: -3%;
}
.container8 h2{
  margin: 16px;
  font-size: 20px;
}

.select-box3 {
  display: flex;
  width: 250px;
  flex-direction: column;
}

.select-box3 .options-container3 {
  background: #2f3640;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected3 {
  background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;

  order: 0;
}

.selected3::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box3 .options-container3.active {
  max-height: 65px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box3 .options-container3.active + .selected3::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box3 .options-container3::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box3 .options-container3::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box3 .option3,
.selected3 {
  padding: 12px 24px;
  cursor: pointer;
  font-size: 14px;
}

.select-box3 .option3:hover {
  background: #414b57;
}

.select-box3 label {
  cursor: pointer;
}

.select-box3 .option3 .radio3 {
  display: none;
}

/* Lista de telefone */
.box{
  width: 250px;
  border-bottom: 10px solid#5CD83E ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 50%;
  right: 7%;
}
.box .h2{
  color: #fff;
  background:#5CD83E ;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* ::-webkit-scrollbar{
  width: 25px;
}
::-webkit-scrollbar-track{
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb{
  background-color: red;
  
} */
.box ul{
  position: relative;
  background: #fff;
  width: 250px;
  height: 85px;
  overflow-y: scroll;
}
.box ul li{
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  transition: transform 0.5s;
}

.box ul li:hover{
  z-index: 100;
  background: #FE8C3D;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
  color: #fff;
  transition: 0.4s ease;
  cursor: pointer;
}
.box ul li span{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #FE8C3D;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}
.box ul li:hover span{
  background: #fff;
  color:#FE8C3D;
}

/* inpput dos telefones */
 .input-data2{
  height: 40px;
  width: 90%;
  position: absolute;
  top: 47%;
  border-radius: 12px;
}
.input-data2 input{
  height: 100%;
  width: 90%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-data2 input:focus ~ label,
.input-data2 input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #FF7C00;
}
.input-data2 label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-data2 .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data2 .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #FF7C00;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data2 input:focus ~ .underline:before,
.input-data2 input:valid ~ .underline:before{
  transform: scaleX(1);
}




@media (max-width: 900px){
    header{
        width: 100%;
        box-shadow: unset;
        border-bottom: 1px solid #e9e9e9;
    }
    .nav{
        display: none;
    }
    .bars{
        display: block;
    }
    .nav-mobile{
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 102%;
        z-index: 50;
        background: #fff;
        padding: 10px;
        transition: all .4s ease-in-out;
        border-top: 1px solid #e9e9e9;
        width: 100%;
    }
    .nav-mobile ul{
        padding: 10px 20px;
    }
    .nav-mobile ul li{
        display: flex;
        align-items: center;
        color: #797979;
        padding: 10px;
        margin-top: 5px;
        cursor: pointer;
        transition: all .4s ease;
    }
    .nav-mobile ul li.active,
    .nav-mobile ul li:hover{
        background: var(--color);
        color: #fff;
    }
    .nav-mobile ul li span{
        line-height: 1;
        font-size: 22px;
        -webkit-font-smoothing: antialiased;
    }
    .nav-mobile ul li h3{
        font-family: "roboto", sans-serif;
        text-transform: uppercase;
        margin-left: 20px;
    }
    .nav-mobile.show {
        top: 69px;
    }
    .m-bar{
        display: block;
        color: #797979;
        cursor: pointer;
        font-size: 1.6em;
        position: absolute;
        width: 35px;
        border-radius: 0 0 10px 0;
        text-align: center;
        background: #fff;
        line-height: 40px;
        z-index: 15;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    }
    aside{
        transition: all .4s ease-in-out;
        top: 69px;
        z-index: 20;
        position: absolute;
        overflow: hidden;
        box-shadow: unset;
        width: 0;
        border-top: 1px solid #e9e9e9;
        transform: translateX(-275px);
    }
    aside.show{
        transform: translateX(0);
        width: 100%;


    }
    .close{
        display: block;
    }
    .main{
        margin-left: 0px;
    }
    .main section{
        width: 100%;
    }
    .main section text{
        padding: 10px;
        font-size: 20px;
    }
}
@media(max-width: 450px){
    .userpost .posts:first-child{
        height: 400px;
    }
}
